@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;

}

.banner {
    background-color: #ecebeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}

.bannerContent {
    width: 50%;
}

.bannerContent span,
h1,
p,
button {
    margin: 10px 0;
    font-family: sans-serif;
}
.banner .bannerContent button{
    background-color: var(--corGoiaba);
}
.banner .bannerContent .descript, .banner .bannerContent p{
    opacity: 0.6;
}

.bannerContent h1 {
    font-size: 3rem;
}

.bannerContent span span,
h1 span {
    color: var(--corGoiaba);
}

@media (max-width:700px) {
    .banner {
        flex-direction: column;
    }

    .banner .bannerContent {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .banner .bannerImage img {
        opacity: 0.2;
        position: relative;
        z-index: 0;
    }
}

@media (max-width:200px) {
    .banner .bannerImage img {
        opacity: 0;
    }
}




.exploreService .exploreServiceText {
    text-align: center;
    margin: 50px 0;
}

.exploreService .exploreServiceText h1 {
    font-size: 2rem;
}

.exploreService .exploreServiceSrc {
    display: flex;
    justify-content: center;
}

.exploreService .exploreServiceSrc h5,
p {
    color: #25373F;

}

.exploreService .exploreServiceSrc p {
    font-size: 9px;
    width: 50%;
}

@media (max-width:700px) {
    .exploreService .exploreServiceSrc {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .exploreService .exploreServiceSrc p {

        width: 100%;
    }
}

.about {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.about .aboutContent {
    width: 30%;
    margin: 0 3vw;
}

.about .aboutContent span {
    color: #333333;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: arial;
}

.about .aboutContent h1 {
    font-size: 2.5rem;
    color: #333333;
}

.about .aboutContent p {
    color: #333333;
    font-size: 12px;
    opacity: 0.5;
}

.about .aboutContent a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    -webkit-text-stroke: 0.4px;
    letter-spacing: 1px;
    font-size: 10px;
}

@media (max-width:700px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about .aboutContent {
        width: 100%;
        text-align: center;
    }
}

@media (max-width:300px) {
    .about .aboutSrc {
        text-align: center;
    }

    .about .aboutSrc img {
        width: 70%;
    }
    .about .aboutContent h1{
        word-wrap: break-word;
    }
}


.discoverOurWork .discoverOurWorkTitle {
    text-align: center;
}

.discoverOurWork .discoverOurWorkTitle h1 {
    font-size: 2.5rem;
    color: #333333;
}

.discoverOurWork .discoverOurWorkTitle p {
    opacity: 0.5;
    color: #333333;
}

.discoverOurWork .discoverOurWorkContent {
    background-color: var(--corGoiaba);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin-top: 50px;

}

.discoverOurWork .discoverOurWorkContent .discoverOurWorkSrcText {
    color: #fff;
    font-family: 'Epilogue', sans-serif;
    font-size: 12px;
}

.discoverOurWorkSrcText span {
    width: 70%;
}

.discoverOurWorkSrcText h1 {
    width: 70%;
}

.discoverOurWorkSrcText p {
    width: 70%;
    color: #ecebeb;
}

.discoverOurWork .discoverOurWorkContent .discoverOurWorkSrcText h1 {
    font-weight: 700;
    font-size: 2rem;
}

@media (max-width:700px) {
    .discoverOurWork .discoverOurWorkContent {
        flex-direction: column;
        text-align: center;
        
    }
    .discoverOurWorkSrcText span {
        width: 100%;
    }
    
    .discoverOurWorkSrcText h1 {
        width: 100%;
    }
    
    .discoverOurWorkSrcText p {
        width: 100%;
    }

    .discoverOurWork .discoverOurWorkContent  .discoverOurWorkSrc{
        margin:20px 0
    }
    @media (max-width:330px){
        .discoverOurWork .discoverOurWorkSrc img{
            width: 100%;
        }
    }
}


.statistic{
    margin: 50px 0;
    text-align: center;
}
.statistic .statisticText{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.statistic .statisticText :nth-child(1) h1,.statistic .statisticText :nth-child(1) p {
    color: var(--verdeClaro);
}


.statistic .statisticText :nth-child(2) h1,.statistic .statisticText :nth-child(2) p {
    color: var(--amareloClaro);
}


.statistic .statisticText :nth-child(3) h1,.statistic .statisticText :nth-child(3) p {
    color: var(--laranja);
}

.statistic .statisticText :nth-child(4) h1,.statistic .statisticText :nth-child(4) p {
    font-size: 9px;
}

.statistic .statisticText {
    border: 1px solid rgb(51, 51, 51, 0.1);
}

@media (max-width:700px){
    .statistic .statisticText{
        width: 100%;
    }
}
@media (max-width:300px){
    .statistic .statisticSrc img{
        width: 90vw;
    }
    .statistic .statisticText{
        flex-direction: column;
    }
}

.analyze{
    display: flex;
    justify-content: center;
}
.analyze .analyzeContent{
    width: 30%;
}
.analyze .analyzeContent h1{
    font-size: 2rem;
    width: 50%;
    color: #333333;
}
.analyze .analyzeContent p{
    opacity: 0.6;
}
.analyze .analyzeContent article{
    margin: 5px 0;
}    .analyze .analyzeContent .icon{
    background-color: var(--verdeClaro);
    padding: 0.1rem 0.4rem;
    color: #fff;
    border-radius: 50%;
}
.analyze .analyzeContent article span{
    font-size: 12px;
    font-family: Epilogue;
    opacity: 0.6;
}

@media (max-width:700px){
    .analyze{
        flex-direction: column;
        align-items: center;
    }
    .analyze .analyzeContent, .analyze .analyzeContent h1{
        width: 100%;
        text-align: center;
    }
    .analyze .analyzeContent .responsiveArticle{
        display: flex;
        justify-content: space-around;
    }

    .analyze .analyzeContent .responsiveArticle article .icon{
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }
    .analyze .analyzeSrc{
        margin: 50px 0;
    }
}

@media (max-width:300px){
    .analyze .analyzeContent .responsiveArticle{
        flex-direction: column;
    }
    .analyze .analyzeSrc img{
        width: 100%;
    }
}

.howWeWork{
    text-align: center;
    margin: 100px 0;
}
.howWeWork .howWeWorkContent{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

}
.howWeWork .howWeWorkContent p{
    width: 30%;
    opacity: 0.7;
}

@media (max-width:500px){
.howWeWork .howWeWorkContent{
    flex-direction: column;
}
.howWeWork .howWeWorkContent p{
    width: 100%;
}
.howWeWork .howWeWorkSrc img{
    width: 80%;
}
}



.teamMembers .teamMembersText{
    text-align: center;
}
.teamMembers .teamMembersText h1{
    font-size: 2rem;
    color: #333333;
}
.teamMembers .teamMembersText p{
    opacity: 0.7;
}

.teamMembers .teamMembersSrc{
    display: flex;
    justify-content: center;
}
.teamMembers .teamMembersSrc article{
    margin: 0 20px;
}

.teamMembers .teamMembersSrc h2{
    font-size: 1rem;
    font-family: Epilogue;
    font-weight: bold;
    color: #333333;
}
.teamMembers .teamMembersSrc p{
    opacity: 0.7;
    font-size: 10px;
}
@media (max-width:700px){
    .teamMembers .teamMembersSrc{
        display: grid;
        grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
        justify-items: center;
    }
}

.testmonials{
    margin: 50px 0;
}
.testmonials .testmonialsText{
    text-align: center;
}
.testmonials .testmonialsText h1{
    color: #333333;
}
.testmonials .testmonialsText p{
    font-size: 12px;
}
.testmonials .testmonialsSrc {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.testmonials .testmonialsSrc article {
    border: 1px solid rgb(51, 51, 51,0.1);
    width: 20%;
    padding: 3rem 1rem;
    margin: 0 10px;
}
.testmonials .testmonialsSrc .articleSrc{
    display: flex;
    align-items: center;
}
.testmonials .testmonialsSrc img{
    border-radius: 50%;
}
.testmonials .testmonialsSrc h2{
    color: #333333;
    font-size: 10px;
    font-family: Epilogue;
    font-weight: bold;
    margin: 0 5px;
    text-transform: uppercase;
}
.testmonials .testmonialsSrc p{
    font-size: 9px;
    margin-top: -1px;
    text-transform: capitalize;

}
.testmonials .testmonialsSrcTitle{
    color: #333333;

}

.testmonials .testmonialsSrc article .articleSrc .codename{
    opacity: 0.6;
}

@media (max-width:700px){
.testmonials .testmonialsSrc {
    flex-direction: column;
    align-items: center;
    
}
.testmonials .testmonialsSrc article {
    width: 90%;
    margin: 10px 0;
}
}

.clients{
    margin: 5rem 0;
}
.clients h3{
    text-align: center;
    font-family: Epilogue;
    font-weight: bold;
    margin: 10px 0;
}
.clients .clientsSrc{
    text-align: center;
}
.clients .clientsSrc img{
    margin: 0 10px;
}


.blog .blogText{
    margin: 2rem;
    text-align: center;
}
.blog .blogSrc{
    display: flex;
    justify-content: center;
}
.blog .blogSrc .card{
    width: 20%;
    margin: 0 10px;
    border: 1px solid rgb(51, 51, 51,0.3);
    border-radius: 10px 10px 0 0;
}
.blog .blogSrc .card img{
    width: 100%;
    border-radius: 10px 10px 0 0;

}
.blog .blogSrc .card h2{
    font-size: 15px;
    font-family: Epilogue;

}
.blog .blogSrc .card p{
    font-size: 12px;
    opacity: 0.6;
}
.blog .blogSrc .card span{
    text-decoration: underline;
    font-family: Epilogue;
    font-weight: bold;
    font-size: 10px;
}
.blog .blogSrc .card .readmoreOne{
    color: var(--amareloClaro);
}
.blog .blogSrc .card .readmoreTwo{
    color: var(--verdeClaro);
}
.blog .blogSrc .card .readmoreThree{
    color: var(--laranja);
}

.blog .blogSrc .card .cardTitle{
    padding: 1rem;
}

@media (max-width:800px){
    .blog .blogSrc{
        flex-direction: column;
        align-items: center;
    }
    .blog .blogSrc .card{
        width: 40%;
        margin: 10px 0;
    }

}
@media (max-width:600px){
    .blog .blogSrc .card{
        width: 80%;
    }
    }

footer{
    background-color: #111111;
    color: #ecebeb;
    padding: 2rem;
    margin-top: 5rem;
}
footer .footerLists{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .footerLists .menu p{
    color:#fff;
    opacity: 0.5;
}

footer .footerLists .service p{
    color:#fff;
    opacity: 0.5;
}

footer .footerLists .footerbrand span{
    font-family: Epilogue;
    font-weight: bold;
    font-size: 2rem;
}

footer .footerLists .menu ul li, .service ul li{
    
    font-family: Epilogue;
    font-size: 11px;
    margin: 10px 0;
}
footer .footerLists .socialMedia i{
    margin: 0 5px   ;
}

footer .copy{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    font-size: 10px;
}
footer .copy .terms a{
    text-decoration: none;
    color:unset;
    margin: 0 5px;
    font-family: Epilogue;
    font-weight: bold;
    opacity: 0.7;
}
@media (max-width:500px){
    footer .footerLists{
        flex-direction: column;
        text-align: center;
    }
}


@media (max-width:500px){
    footer .copy{
        flex-direction: column;
        text-align: center;
    }
}